root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.{md,txt}]
indent_style = space
indent_size = 4

[*.{bat,cmd}]
end_of_line = crlf

[*.{json,spec}]
indent_style = space
indent_size = 2
